<p>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Alumn. {{name}} {{surname}}</ion-card-subtitle>
      <ion-card-title>{{name}} {{surname}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <img src="/assets/images.png">
    </ion-card-content>
  </ion-card>
  <ion-card id="cards">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Bienvenido a acceso a datos</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Esta asignatura nos enseñara a usar ionic perfectamente
      <img src="/assets/monos_picando_codigo.jpg">
    </ion-card-content>
  </ion-card>
</p>
